.folder-wrapper {
  position: relative;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.folder-wrapper:not(.folder-open):hover {
  transform: translateY(-8px);
}

.folder-back {
  position: relative;
  width: 100px;
  height: 80px;
  border-radius: 0 10px 10px 10px;
  background-color: var(--folder-back-color);
}

.folder-tab {
  position: absolute;
  z-index: 0;
  bottom: 98%;
  left: 0;
  width: 30px;
  height: 10px;
  border-radius: 5px 5px 0 0;
  background-color: var(--folder-back-color);
}

.folder-paper {
  position: absolute;
  z-index: 20;
  bottom: 10%;
  left: 50%;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  overflow: hidden;
}

.paper-closed {
  transform: translateX(-50%) translateY(10%);
}

.folder-wrapper:not(.folder-open):hover .paper-closed {
  transform: translateX(-50%) translateY(0);
}

.paper-open {
  transform-origin: center bottom;
}

.paper-open:hover {
  transform: scale(1.1);
}

.folder-front {
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: var(--folder-color);
  border-radius: 5px 10px 10px 10px;
  transform-origin: bottom;
  transition: all 300ms ease-in-out;
}

.folder-front-left {
  left: 0;
}

.folder-front-right {
  right: 0;
}

.folder-wrapper:not(.folder-open):hover .folder-front-left {
  transform: skew(15deg) scaleY(0.6);
}

.folder-wrapper:not(.folder-open):hover .folder-front-right {
  transform: skew(-15deg) scaleY(0.6);
}

.folder-front-open {
  transform: scaleY(0.6);
}

.folder-front-open.folder-front-left {
  transform: skew(15deg) scaleY(0.6);
}

.folder-front-open.folder-front-right {
  transform: skew(-15deg) scaleY(0.6);
}

/* Responsive sizing */
@media (max-width: 768px) {
  .folder-back {
    width: 80px;
    height: 64px;
  }
  
  .folder-tab {
    width: 24px;
    height: 8px;
  }
}
