/* Unicorn Studio Background Component */
.unicorn-studio-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.unicorn-studio-embed {
    width: 100% !important;
    height: 100% !important;
    min-height: 100%;
}

.unicorn-studio-embed > * {
    width: 100% !important;
    height: 100% !important;
}
